<div class="meta">
    <p>PATH: <%= locals.title %></p>
    <p>HTTP: <%=  locals.meta[0].method %></p>
    <p>USER: <%= locals.user %></p>
    <p>LOGED?: <%= locals.loged %></p>
    <p>OBJECTS: <%= locals.data.length %></p>

</div>