<table>
    <thead>
    <tr>
        <th>Status</th>
        <th>Filename</th>
        <th>Size</th>
    </tr>
    </thead>
    <tbody>
    <% locals.data.forEach((obj) => { %>
        <tr>
            <td class="status"><i class='bx bxs-check-circle <%= obj.online ? "online" : "offline" %>'></i></td>
            <td title="<%= obj.title %>"><%= obj.title %>
                <span>
                    <a href="<%= obj.online ? obj.url : '#' %>" target="blank"><%= obj.subtitle %></a>
                </span>
            </td>
            <td class="file-size">
                <p><%= obj.filesize %></p>
                <span> <%= obj.unit.toUpperCase() %></span>
            </td>
            <td>
                <a class="button download <%= obj.online ? "online" : "offline" %>"
                   target="_blank"
                   title="download"
                   href="<%= obj.online ? obj.url : '#' %>">
                    <%= obj.online ? "Download" : "Offline" %>
                </a>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>

<a href="javascript:history.back()">BACK</a>
