<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<% if (locals.user === "Sebastian" ) { %>

    <%- include ('layouts/header.ejs') %>

    <% if (locals.role === "Admin" ) { %>
        <%- include ('layouts/debug.ejs') %>
    <% } %>

    <h1 class="main-h1">Welcome <span><%= user %></span></h1>
    <%- include ('layouts/sidebar.ejs') %>
    <%- include ('layouts/dashboard.ejs') %>

<% } else { %>
    <%- include ('layouts/header.ejs', { title: title , loged: false}) %>
    <h1 class="main-h1">Welcome to <span><%= title %></span></h1>
    <%- include ('layouts/sidebar.ejs', {loged: false}) %>
<% } %>
</body>
</html>
